@font-face {
    font-family: 'didact';
    src: url('fonts/didactgothic-webfont.woff2') format('woff2'),
         url('fonts/didactgothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'obelixpro';
    src: url('fonts/obelixpro-cyr-webfont.woff2') format('woff2'),
         url('fonts/obelixpro-cyr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ds_digital';
    src: url('fonts/obelixpro-cyr-webfont.woff2') format('woff2'),
         url('fonts/obelixpro-cyr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'didact', sans-serif;
}

.obelix {
    font-family: 'obelixpro';
}
.obelix.bold {
    font-family: 'obelixprobold';
}
.obelix.italic {
    font-family: 'obelixproitalic';
}
.obelix.bold.italic {
    font-family: 'obelixprobold_italic';
}
.yellow {
    color: yellow;
}